*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #ffa07a;
  
  width: 100%;
  
}

.photos{
  padding:5%;
  text-align: center  ;
  
  

}

.photos img{
  width:30%;
  height: 385px;
}

.bar{
  width: 100%;
  background-color: #008080;
 
}
.bar ul{
  width: 100%;
  padding-top: 1rem;
  
}

.bar a{
  
  color:#ffa07a;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 30%;
  font-size: 1.3rem;
}
li{
  list-style: none;
}

.intro{
  background-color: #80513e;
  color: #ffa07a;
  text-align: center;
  font-size: 1.5rem;
  margin:10% auto;
  padding:2%;
  
  
}
.intro h1{

}

.summary{
line-height: 2.5;
box-sizing: border-box;
}

.summary h2{
  color:yellow;
  font-size: 2rem;
}

.summary p{
  color:white;
  font-size: 1rem;
}

.testimonial{
  background-color: #008080;
  color: yellow;
  box-sizing: border-box;
}
.testimonial h1{
  font-size: 3rem;
}

.testimonial p{
  font-size: 1.5rem;
}
.meetup{
  text-align: center;
  

}

.meetup img{
  width: 100%;
}

.meetup h1{
  color: yellow;
  font-size: 2.5rem;
}


/* media queries */
@media only screen and (max-width:900px){
  .arriba{
    width: 15%;
    padding:1% ;
    
    margin: 0;
    float: left;
    
  }
  .arriba a{
     display: block;
     
  }
  .arriba ul a{
    text-align: left;
  }
  .arriba ul{
    padding-top: 0;
    width:
    
  }
  .intro{
    width: 85%;
    height: ;
    margin: 0;
    padding: 1%;
   
    float: left;
    
   
  }
  .intro h1{
    height: 96px;
  }
  .summary{
   
  }
  .photos img{
    display: block;
    width: 80%;
    margin: 5px 10%;
    
  }
}
body{
  
}
